#password {
    color: blue;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cornflowerblue;
    border-radius: 20px;
    max-width: 500px;
    margin-top: 40vh;
    animation: bubble 1s infinite;
}

@keyframes bubble {
    0% {
        max-width: 525px;
        padding: 50px;
    }
    50% {
        max-width: 550px;
        padding: 70px;
    }
    100% {
        max-width: 525px;
        padding: 50px;
    }
}